
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventImageVoteLabel" data-translate="backendApp.eventImageVote.home.createOrEditLabel">Create or edit a Event Image Vote</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.eventImageVote.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.eventImageVote.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backendApp.eventImageVote.vote" for="field_vote">Vote</label>
            <input type="number" class="form-control" name="vote" id="field_vote"
                    ng-model="vm.eventImageVote.vote"
                    required min="-1" max="1" />
            <div ng-show="editForm.vote.$invalid">
                <p class="help-block"
                    ng-show="editForm.vote.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.vote.$error.min" data-translate="entity.validation.min" translate-value-min="-1">
                    This field should be more than -1.
                </p>
                <p class="help-block"
                    ng-show="editForm.vote.$error.max" data-translate="entity.validation.max" translate-value-max="1">
                    This field cannot be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.vote.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="backendApp.eventImageVote.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.eventImageVote.userId" ng-options="user.id as user.login for user in vm.users"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="backendApp.eventImageVote.eventImage" for="field_eventImage">Event Image</label>
            <select class="form-control" id="field_eventImage" name="eventImage" ng-model="vm.eventImageVote.eventImageId" ng-options="eventImage.id as eventImage.id for eventImage in vm.eventimages"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.eventImage.$invalid">
            <p class="help-block"
                ng-show="editForm.eventImage.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
