<div>
    <h2 data-translate="backendApp.event.home.title">Events</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="event.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="backendApp.event.home.createLabel">
                        Create new Event
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'backendApp.event.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="backendApp.event.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="backendApp.event.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageUrl"><span data-translate="backendApp.event.imageUrl">Image Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromDate"><span data-translate="backendApp.event.fromDate">From Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toDate"><span data-translate="backendApp.event.toDate">To Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="privateEvent"><span data-translate="backendApp.event.privateEvent">Private Event</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attendanceCount">Attendance Count<span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="backendApp.event.locations">Locations</span></span></th>
                    <th jh-sort-by="ownerLogin"><span data-translate="backendApp.event.owner">Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span data-translate="backendApp.event.eventCategory">Event Category</span></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in vm.events track by event.id">
                    <td><a ui-sref="event-detail({id:event.id})">{{event.id}}</a></td>
                    <td>{{event.title}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.imageUrl}}</td>
                    <td>{{event.fromDate | date:'medium'}}</td>
                    <td>{{event.toDate | date:'medium'}}</td>
                    <td>{{event.privateEvent}}</td>
                    <td>{{event.attendanceCount}}</td>
                    <td>
                        <span ng-repeat="location in event.locations">
                                    <a class="form-control-static" ui-sref="location-detail({id: location.id})">{{location.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        {{event.ownerLogin}}
                    </td>
                    <td>
                        <a ui-sref="event-category-detail({id:event.eventCategory.id})">{{event.eventCategory.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="event-detail({id:event.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event.edit({id:event.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event.delete({id:event.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
