<div>
    <h2 data-translate="backendApp.event.home.title">Events</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="event.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="backendApp.event.home.createLabel">
                        Create new Event
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'backendApp.event.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div ng-repeat="event in vm.events track by event.id" class="panel {{event.eventCategory.theme}}">
            <div class="panel-heading {{event.eventCategory.theme}}">
                <h3>{{event.title}}</h3>
                <span data-translate="backendApp.event.category">Category</span> <span>{{event.eventCategory.title}}</span>
            </div>
            <div class="panel-body">
                <div class="thumbnail col-xs-6 col-md-4">
                    <img src="{{event.imageUrl}}" />
                </div>
                <div class="col-md-8">
                    <h4 data-translate="backendApp.event.info">Info</h4>
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-translate="backendApp.event.date">Date</td>
                                <td>{{event.fromDate | date:'short'}} => {{event.toDate | date:'short'}}</td>
                            </tr>
                            <tr>
                                <td data-translate="backendApp.event.private">Private</td>
                                <td>{{event.privateEvent}}</td>
                            </tr>
                            <tr>
                                <td data-translate="backendApp.event.attending">Attending</td>
                                <td>{{event.attendanceCount}}</td>
                            </tr>
                            <tr>
                                <td data-translate="backendApp.event.owner">Owner</td>
                                <td>{{event.ownerLogin}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <h4 data-translate="backendApp.event.locations">Locations</h4>
                    <table class="table">
                        <thead>
                            <th data-translate="backendApp.event.location.name">Name</th>
                            <th data-translate="backendApp.event.location.description">Description</th>
                            <th data-translate="backendApp.event.location.fromDate">From</th>
                            <th data-translate="backendApp.event.location.toDate">To</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="location in event.locations">
                                <td class="col-md-3">{{location.name}}</td>
                                <td class="col-md-4">{{location.description}}</td>
                                <td class="col-md-2">{{location.fromDate | date:'short'}}</td>
                                <td class="col-md-2">{{location.toDate | date:'short'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="event-detail({id:event.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                    </button>
                    <button type="submit"
                            ui-sref="event.edit({id:event.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                    </button>
                    <button type="submit"
                            ui-sref="event.delete({id:event.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
